export class SecretConfig {
    public static Mongo = {
        host:"localhost",
        port:27017,
        user:"root", // Set to null if no user
        password:"root-password", // Set to null if no user
        dbName:"essentials_api"
    }

    public static Auth = {
        jwtSecret: 'abcdef', // Used to encode JWT tokens
    }

    public static TinNetwork = {
        apiEndpoint: "https://openapi.tin.network/v1",
        apiKey: "abcdef" // Tin network API private key - pay per use
    }
}